In [1]:
import pandas as pd
import numpy as np
import json

In [3]:



def leer(ruta):
    try:
        with open(ruta) as f:
            file_content = f.read()
            try:
                # Attempt to load the file as JSON
                json_data = json.loads(file_content)
                return pd.read_json(json.dumps(json_data))
            except json.decoder.JSONDecodeError:
                # If the file is not JSON, attempt to load it as CSV
                return pd.read_csv(ruta)
    except FileNotFoundError:
        print("Error: File not found.")
        return None

In [4]:
"""df_origen = leer('Total emigrantes ORIGEN.csv')
df_destino = leer('Total Iinmigrantes DESTINO.csv')
df_selected_o = df_origen[['1990', '1995', '2000', '2005', '2010', '2015', '2020']]
df_selected_d = df_destino[['1990', '1995', '2000', '2005', '2010', '2015', '2020']]

df_selected_o = df_selected_o.replace("..", 0)
df_selected_d = df_selected_d.replace("..", 0)
df_selected_o = df_selected_d.fillna(0)
df_selected_o = df_selected_d.fillna(0)

df_selected_o = df_selected_o.apply(lambda x: x.str.replace(" ", ""))
df_selected_d = df_selected_d.apply(lambda x: x.str.replace(" ", ""))

df_selected_o = df_selected_o.fillna(0)
df_selected_d = df_selected_d.fillna(0)
df_selected_o = df_selected_o.astype('int')
df_selected_o = df_selected_d.astype('int')





df_origen[['1990', '1995', '2000', '2005', '2010', '2015', '2020']] = df_selected_o
df_destino[['1990', '1995', '2000', '2005', '2010', '2015', '2020']] = df_selected_d
df_origen = df_origen.fillna(0)
df_destino = df_destino.fillna(0)"""

In [5]:
"""print(df_selected_d.isna().sum())
print(df_selected_o.isna().sum())""""""

1990    0
1995    0
2000    0
2005    0
2010    0
2015    0
2020    0
dtype: int64
1990    0
1995    0
2000    0
2005    0
2010    0
2015    0
2020    0
dtype: int64

In [20]:
df_origen = leer('df_origen.csv')
df_destino = leer('df_destino.csv')

In [15]:
df_destino.head()

,"Region, development group, country or area",Location code,1990,1995,2000,2005,2010,2015,2020
0,Burundi,108,333110,254853,125628,192774,247321,298299,344767
1,Comoros,174,14079,13939,13799,13209,12618,12555,12496
2,Djibouti,262,122221,99774,100507,92110,102307,112351,119738
3,Eritrea,232,11848,12400,12952,15905,15813,15941,13934
4,Ethiopia,231,1155390,806904,611384,514451,568748,1161642,1085517

In [16]:
df_origen.head()

,"Region, development group, country or area",Location code,1990,1995,2000,2005,2010,2015,2020
0,Burundi,108,333110.0,254853.0,125628.0,192774.0,247321.0,298299.0,344767.0
1,Comoros,174,14079.0,13939.0,13799.0,13209.0,12618.0,12555.0,12496.0
2,Djibouti,262,122221.0,99774.0,100507.0,92110.0,102307.0,112351.0,119738.0
3,Eritrea,232,11848.0,12400.0,12952.0,15905.0,15813.0,15941.0,13934.0
4,Ethiopia,231,1155390.0,806904.0,611384.0,514451.0,568748.0,1161642.0,1085517.0

In [22]:
df_selected_d = df_destino[['1990', '1995', '2000', '2005', '2010', '2015', '2020']]
df_selected_o = df_origen[['1990', '1995', '2000', '2005', '2010', '2015', '2020']]

df_destino['Inmigracion_Promedio'] = df_selected_d.mean(axis=1)
df_origen['Emigracion_Promedio'] = df_selected_o.mean(axis=1)

In [23]:
df_sorted_o_90 = df_origen.sort_values(by='1990', ascending=False)
df_sorted_o_95 = df_origen.sort_values(by='1995', ascending=False)
df_sorted_o_00 = df_origen.sort_values(by='2000', ascending=False)
df_sorted_o_05 = df_origen.sort_values(by='2005', ascending=False)
df_sorted_o_10 = df_origen.sort_values(by='2010', ascending=False)
df_sorted_o_15 = df_origen.sort_values(by='2015', ascending=False)
df_sorted_o_20 = df_origen.sort_values(by='2020', ascending=False)
df_sorted_o_mean = df_origen.sort_values(by='Emigracion_Promedio', ascending=False)
df_sorted_d_90 = df_destino.sort_values(by='1990', ascending=False)
df_sorted_d_95 = df_destino.sort_values(by='1995', ascending=False)
df_sorted_d_00 = df_destino.sort_values(by='2000', ascending=False)
df_sorted_d_05 = df_destino.sort_values(by='2005', ascending=False)
df_sorted_d_10 = df_destino.sort_values(by='2010', ascending=False)
df_sorted_d_15 = df_destino.sort_values(by='2015', ascending=False)
df_sorted_d_20 = df_destino.sort_values(by='2020', ascending=False)
df_sorted_d_mean = df_destino.sort_values(by='Inmigracion_Promedio', ascending=False)

In [27]:
df_sorted_o_90 = df_sorted_o_90.head(30)
df_sorted_o_95 = df_sorted_o_95.head(30)
df_sorted_o_00 = df_sorted_o_00.head(30)
df_sorted_o_05 = df_sorted_o_05.head(30)
df_sorted_o_10 = df_sorted_o_10.head(30)
df_sorted_o_15 = df_sorted_o_15.head(30)
df_sorted_o_20 = df_sorted_o_20.head(30)
df_sorted_o_mean = df_sorted_o_mean.head(30)
df_sorted_d_90 = df_sorted_d_90.head(30)
df_sorted_d_95 = df_sorted_d_95.head(30)
df_sorted_d_00 = df_sorted_d_00.head(30) 
df_sorted_d_05 = df_sorted_d_05.head(30)
df_sorted_d_10 = df_sorted_d_10.head(30)
df_sorted_d_15 = df_sorted_d_15.head(30)
df_sorted_d_20 = df_sorted_d_20.head(30)
df_sorted_d_mean = df_sorted_d_mean.head(30)

In [28]:
df_sorted_o_90.to_csv('top_30_origen_1990.csv')
df_sorted_o_95.to_csv('top_30_origen_1995.csv')
df_sorted_o_00.to_csv('top_30_origen_2000.csv')
df_sorted_o_05.to_csv('top_30_origen_2005.csv')
df_sorted_o_10.to_csv('top_30_origen_2010.csv')
df_sorted_o_15.to_csv('top_30_origen_2015.csv')
df_sorted_o_20.to_csv('top_30_origen_2020.csv')
df_sorted_o_mean.to_csv('top_30_origen_promedio.csv')
df_sorted_d_90.to_csv('top_30_destino_1990.csv')
df_sorted_d_95.to_csv('top_30_destino_1995.csv')
df_sorted_d_00.to_csv('top_30_destino_2000.csv')
df_sorted_d_05.to_csv('top_30_destino_2005.csv')
df_sorted_d_10.to_csv('top_30_destino_2010.csv')
df_sorted_d_15.to_csv('top_30_destino_2015.csv')
df_sorted_d_20.to_csv('top_30_destino_2020.csv')
df_sorted_d_mean.to_csv('top_30_destino_promedio.csv')